@charset "UTF-8";

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#container-sociais {
    display: flex;
    justify-content: flex-end;
}

#content-sociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 10px 0px 0px;

    padding: 10px;
    border: 2px solid black;
}


.imagens-sociais {
    width: 50px;
    border-radius: 50%;
}